<!--CLOSING WHOLE PAGE CONTAINER-->
</div> 
    
<!--FOOTER-->
<footer class="footer">
    <div class="container">
        <p class="footer-text">&copy YelpCamp | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a> | <a href="/login">Login</a> | <a href="/register">Register</a></p>
    </div>
</footer>